/* 1st nav */
body {font-family: 'Josefin Sans', sans-serif;
    font-family: 'Rubik', sans-serif;}


/* nav */

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.header {
  overflow: hidden;
  background-color: #8893c3;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(65, 61, 114);
  color: rgb(255, 255, 255);
}

.header a.active {
  background-color: dodgerblue;
  color: rgb(255, 255, 255);
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}




 /* pic text */

 div {
  
    padding: 5px;
    
    
  }
  
  .img1 {
    float: right;
  }
  
  .clearfix {
    max-width: 1300px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  }
  
  .img2 {
    float: left;
  }



    /* 3rd nav */

   

.topnav {
  overflow: hidden;
  background-color: #ffffff;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

.topnav a.active {
  border-bottom: 3px solid red;
}


/* responsive */
.responsive {
    width: 100%;
    height: 20%;
  }




/* Rounded border */
hr.rounded {
    border-top: 1px solid #bbb;
   
  }




  /* text */

  div.a {
    max-width: 1300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  }
  
  div.b {
    text-align: left;
  }
  
  div.c {
    text-align: right;
  } 
  
  div.d {
    text-align: justify;
  } 



  /* body{font-family:'Roboto',Arial,sans-serif}.none{display:none} */
  
  .datainput{position:relative;margin:5px 0 20px}
  .datainput p{font-size:12px;background:#eee;display:inline-block;padding:5px 15px;border-radius:.5rem}
  .whatsapp-form textarea{min-height:120px}
  .datainput select{padding:12px 0;color:#555;font-size:14px;width:100%;border:0;border-bottom:1px solid #ddd;outline:none;background:#fff}
  .datainput input,.datainput textarea{font-size:15px;padding:15px 0;display:block;width:100%;border:none;border-bottom:1px solid #ddd}
  .datainput input:focus,.datainput textarea:focus{outline:none}
  .datainput label{color:#999;font-size:14px;font-weight:400;position:absolute;pointer-events:none;left:0;top:18px;transition:.2s ease all}
  .datainput input:focus~label,.datainput input:valid~label,.datainput textarea:focus~label,
  .datainput textarea:valid~label{top:-10px;font-size:14px;color:#8893c3}#notif-license span{font-size:40px}#notif-license{display:none;position:fixed}.bar{position:relative;display:block;width:100%}
  .bar:before,.bar:after{content:'';height:2px;width:0;bottom:1px;position:absolute;background:#8893c3;transition:.2s ease all}.bar:before{left:50%}.bar:after{right:50%}
  .datainput input:focus~.bar:before,.datainput input:focus~.bar:after,.datainput textarea:focus~.bar:before,.datainput textarea:focus~.bar:after{width:50%}.indigox{background:#3f51b5}
  .orangex{background:#ff9800}.pinkx{background:#e91e63}.bluex{background:#2196F3}
  .purplex{background:#9c27b0}.redx{background:#F44336}.greenx{background:#8893c3}
  .highlight{position:absolute;height:50%;width:100px;top:25%;left:0;pointer-events:none;opacity:.5}
  .datainput input:focus~.highlight,.datainput textarea:focus~.highlight{animation:inputHighlighter .3s ease}.datainput input:focus~label,.datainput input:valid~label,.datainput textarea:focus~label,
  .datainput textarea:valid~label{top:-10px;font-size:13px;color:#8893c3}
  
  form.whatsapp-form {
    max-width: 480px;
      box-shadow: 0 1px 6px rgba(32,33,36,.28);
      border-radius: .5rem;
      padding: 20px;
      box-sizing: border-box;
      color: #444;
      font-size: 14px;
      line-height: 1.5;
      display: block;
    margin-left: auto;
    margin-right: auto;
  }
   .whatsapp-form a.send_form {
      color: #fff;
      background: #8893c3;
      text-decoration: none;
      display: inline-block;
      padding: 10px 25px;
      border-radius: .3rem;
      font-weight: 700;
      letter-spacing: .5px;
      font-size: 15px;
  }
  #text-info span {
      display: block;
      padding: 10px 15px;
      text-align: center;
      font-weight: 700;
      margin: 15px 0;
      border-radius: .5rem;
  }
  #text-info span.yes {
      background: #8893c3;
      color: #8893c3;
  }
  #text-info span.no {
      background: #ffc5c5;
      color: #ce0404;
  }




  /* Footer */

  .footer {
    position: none;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8893c3;
    color: white;
    text-align: center;
 }